body {
    background-image: url(./images/bg.png);
    text-align: center;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: absolute;
    color: white;
    font-family: sans-serif;
    top: 5%;
    left: 5%;
}

form {
    position: absolute;
    text-align: left;
    left: 5%;
    bottom: 10%;
    color: white;
    width: 50%;
}

input {
    width: 65%;
    
}

textarea {
    width: 65%;
    height: 40px;
}

.heading {
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    margin-bottom: 5%;
}

.radio {
    width: 10%;
}

.submit {
    margin-top: 10%;
}