body {
    background-image: url(./Station_1/images/bg.png);
    text-align: center;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pinguin {
    position: absolute;
    right: -5%;
    bottom: -5%;
}

.busch {
    position: absolute;
    left: -15%;
    top: -15%;
}

h1 {
    position: absolute;
    text-align: left;
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    top: 15%;
    left: 10%;
}

p {
    position: absolute;
    text-align: left;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    top: 50%;
    left: 10%;
}