body {
    background-image: url(./Station_6/images/bg.png);
    text-align: center;
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

ul{
    padding: 0;
    margin-left: 10%;
    list-style-type: none;
}

li{
    float: left;
    margin-left: 3%;
}

a{
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    background-color:maroon;
    border:5px;
    font-family: sans-serif
 }

 a:hover {
     font-size: 150%;
 }