section { 
    width: 800px;
    margin: auto;
}

header {
    width: 800px;
    margin: auto;
}

div {
    width: 800px;
    margin: auto;
    text-align: center;
}

.icon:hover {
    width: 25px;
    height: 25px;
}

.prepicture {
    float: left;
    margin: 5px;
}

body {
    background-image: url(bg.png);
}

.firstrow {
    float: left;
    margin: 5px;
}

.secondrow {
    float: left;
    margin: 5px;
}

.thirdrow {
    float: left;
    margin: 5px;
}


.fifthrow {
    float: left; 
    margin: 5px;  
    text-align: start;
}

.sixthrow {
    float: left;
    margin: 5px;
}

.seventhrow {
    float: left;
    margin: 5px;
}

h1 {
    font-family: sans-serif;
    color: maroon;
    
}

h2{
    font-family: sans-serif;
    color: maroon;
}
p {
    font-family: sans-serif;
}

nav ul{
    position: fixed;
   list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    overflow: hidden;

    border-radius: 0px 0px 10px 10px;
    background: black;
    padding: 16px;
    height: 6px;
    width: 270px;
    top: 0px;
    right: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a{
    font-size: 20px;
    text-decoration: none;
}
 
a:link {
    color: white;
}

a:visited {
    color: blue;
}

a:hover {
    color: maroon;
}

a:active { 
    color: maroon;
}

#homepage {
    color: maroon;
}

#contactpage {
    color: maroon;
}

#aboutpage {
    color: maroon;
}

#Aufgabe3 {
    color: maroon;
}

#Aufgabe2 {
    color: maroon;
}

#Aufgabe4 {
    color: maroon;
}

form {

    width: 370px;
    padding: 20px;
}

label {
    display: inline-block;
    cursor: pointer;
    width: 90px;
}

input {
    font-family: sans-serif;
    background-color: gray;
    width: 300px;
    height: 30px;
    color: white;
    border: 0;

}

textarea {
    width: 300px;
    border: 1px solid #8c8c8c;
    margin-bottom: 1em;
    background-color: gray;
    font-family: sans-serif;
    height: 7em;
    color: white;
    border: 0;

}


footer {
    width: 800px;
    margin: auto;
    font-family: sans-serif;
}